.menu-page {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  /* max-width: 90vw; */

  display: flex;
  justify-content: center;
}

.menu-container.mobile .menu-page {
  width: auto;
  transform-origin: center left;
}

/* Animations */
.menu-page {
  opacity: 1;
  /* transform: rotateY(0deg); */
  transition: all 0.8s ease-in-out;
  animation: rotate-right 0.8s ease-in-out forwards;
}
/* .menu-page:not(.hidden) {
  animation: show-page 0.8s ease-in-out forwards;
  } */
.menu-page.flipped {
  /* transform: rotateY(-180deg); */
  animation: rotate-left 0.8s ease-in-out forwards;
}
.menu-page.hidden {
  opacity: 0;
  transition: all 0.8s ease-in-out;
  /* animation: hide-page 0.8s ease-in-out forwards; */
}

/* Keyframes */
@keyframes rotate-left {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}

@keyframes rotate-right {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

/* Keyframes */
@keyframes hide-page {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show-page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
